@model HomeScreenViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_TitleLayout.cshtml";
}

@if (Model.IsActive)
{
    <div class="d-flex flex-column justify-content-center align-items-center pt-5">
        <h1 class="mt-5 pt-5"><i class="fas fa-anchor"></i></h1>
        <h1>Battleships</h1>
        <a asp-controller="Home" asp-action="HandleContinue" class="btn btn-lg btn-grad">Continue Game</a>
    </div>
}

else
{
    <div class="d-flex flex-column justify-content-center align-items-center pt-5">
        <h1 class="mt-5 pt-5"><i class="fas fa-anchor"></i></h1>
        <h1>Battleships</h1>
        <a asp-controller="Home" asp-action="HandleGameStart" class="btn btn-lg btn-grad">New Game</a>
    </div>
}
