@{
    ViewData["Title"] = "Lose";
}

<div class="mt-5 pt-5 d-flex flex-column align-items-center">
    <h1><i class="fas fa-skull"></i></h1>
    <h1>You lost!</h1>
    <a asp-controller="Home" asp-action="Reset" class="btn btn-lg btn-danger">Play again?</a>
</div>