<!-- Button trigger modal -->
<button type="button" class="btn btn-lg btn-info" data-toggle="modal" data-target="#exampleModal">
    Rules
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Battleship Rules</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>Placing Ships</h6>
                <p>Place your ships using the form on the left. Enter a grid reference (e.g. "A7") for the start and end of each ship based on its size:</p>
                <p class="mb-0">Carrier: 5</p>
                <p class="mb-0">Battleship: 4</p>
                <p class="mb-0">Cruiser: 3</p>
                <p class="mb-0">Destroyer: 2</p>
                <p>Submarine: 1</p>
                <h6 class="pt-3">Firing</h6>
                <p>Fire a salvo at the enemy grid using the form on the right, with the same format as above. The game ends when all one side's ship tiles have been hit.
                Use the display below the target form to keep track of how many you have left.</p>
            </div>
        </div>
    </div>
</div>