@model GameScreenViewModel

<div class="d-flex justify-content-between my-2">
    <span><b class="text-success">PLAYER:</b> @Model.PlayerHitPoints / 18</span>
    <span><b>TURN:</b> @Model.Turn</span>
    <span><b class="text-danger">AI:</b> @Model.AIHitPoints / 18</span>
</div>